@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: var(--background);
  color: var(--foreground);
}
@theme {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  :root {
    /* Neutral */
    --background: #f2f0ef;
    --foreground: #202029;
    --secondary: #555555;
    --border: #d0d0d0;
    --card: #f9f9f9;

    /* Primary */
    --primary: #0487c2;
    --primary-foreground: #f2f0ef;
    --primary-hover: #78d2fa;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #e6e6f2;
    --secondary: #b0b0c0;
    --border: #3b3b3b;
    --card: #121212;

    --primary: #2b7fff;
    --primary-foreground: #f2f0ef;
    --primary-hover: #60a5fa;
  }
}
/* --------------------
   Button animations
--------------------- */
@layer components {
  .letter {
    display: inline-block;
    opacity: 0;
    animation: slideUp 0.6s ease forwards;
    animation-delay: calc(var(--i) * 0.04s);
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .icon-send {
    animation: spinPulse 0.7s ease-in-out infinite;
    transform-origin: center;
  }

  @keyframes spinPulse {
    0% {
      transform: rotate(0deg) scale(0.9);
    }
    50% {
      transform: rotate(180deg) scale(1.1);
    }
    100% {
      transform: rotate(360deg) scale(0.9);
    }
  }

  .icon-check {
    animation: popIn 0.5s ease forwards;
  }

  @keyframes popIn {
    0% {
      transform: scale(0.4);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

/* --------------------
   Reveal animation
--------------------- */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
  width: 100%;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
